<!--  Head -->
<%- include('partials/head') %>
	<!--  /Head -->

	<!-- Header -->
	<%- include('partials/header') %>
		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Agregar productos</h2>
				</div>
				<% if (locals.success) { %>
					<p>
						<%= locals.success %>
					</p>
					<% } %>
						<!-- Show the "ultimos" products -->
						<form method="POST" action="/products/store">
							<label for="imagen">Imagen (URL):</label>
							<input type="text" id="imagen" name="imagen" >

							<label for="nombre">Nombre del producto:</label>
							<input type="text" id="nombre" name="nombre" >

							<label for="descripcion">Descripción:</label>
							<textarea id="descripcion" name="descripcion"></textarea>

							<button type="submit">Agregar</button>
						</form>
			</div>
		</div>
		<%- include('partials/footer') %>