
<!--  Head -->
<%- include('partials/head') %>
<!--  /Head -->

	<!-- Header -->
	<% if (logueado) { %>
    <%- include('partials/headerLogueado') %>
<% } else { %>
    <%- include('partials/header') %>
<% } %>

	<!-- /Header -->


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"></h2>
			<form action="/users/profile" method="GET" class="login-form">
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" required>
				</div>
				<div class="form-group">
					<label for="password">Contraseña:</label>
					<input type="password" id="password" name="password" required>
				</div>
				<div class="form-group form-check">
					<input type="checkbox" name="remember"> Recordarme
				</div>
				<button type="submit" class="btn btn-primary">Ingresar</button>
			</form>

		</div>
	</div>
<%- include('partials/footer') %>