<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
					<i class="fas fa-users"></i>
					<h2>Integrantes del equipo:</h2>

			            <ul>
				            <li>Milagros Agudo Marrodan</li>
				            <li>Delfin Van Ditmar</li>
				            <li>Luzmila Centurion</li>
		               </ul>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
					<i class="fas fa-headset"></i>
						<h2>Atención al cliente:</h2>
						<p>0810 333 8700</p>
						<p> LU-VI de 09:00 a 18:00</p>
						<p> SA de 9:00 a 13:00 </p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
					<i class="fas fa-share-alt"></i>
						<h2>redes sociales:</h2>
                          <ul>
				            <li>Instagram:TechRaider</li>
				            <li>Facebook:TechRaider</li>
				            <li>TikTok:TechRaider</li>
		               </ul>
					</article>
				</div>
			</div>
			

	</div>
</footer>

	<!-- /footer -->
</body>	
</html>